.css-185gdzj-MuiCardHeader-root {
  padding: 32px 24px 16px !important;
}

.css-1mgzbsd-MuiCardActions-root {
    padding: 8px !important;
}

.css-1kji7gj-MuiTypography-root {
  margin: 0 !important;
  font-family: Inter !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  line-height: 1.57 !important;
}

.css-83ijpv-MuiTypography-root {
  margin: 0 !important;
  font-family: Inter !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 1.57 !important;
  color: #667085 !important;
}
