.css-10hburv-MuiTypography-root {
  margin: 0 !important;
  font-family: Inter !important;
  color: inherit !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 28px !important;
}
