.cardAlbumDetails {
  box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.04),
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06) !important;
  border-radius: 20px !important;
  padding-bottom: 0px !important;
  /* margin-top: 32px !important; */
}

.cardContentAlbum {
  padding-top: 0 !important;
}

.titleDetailsAlbum {
  margin: 0px !important;
  font-family: Inter !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  line-height: 1.2 !important;
}

.descriptionDetailsAlbum {
  margin: 0px !important;
  font-family: Inter !important;
  font-weight: 300 !important;
  font-size: 0.875rem !important;
  line-height: 1.57 !important;
  color: #667085 !important;
}

.iconDetailsAlbum {
  color: #212636 !important;
  font-size: 1.6rem !important;
  margin-top: 0.3rem !important;
  margin-bottom: 0.5rem !important;
}
